<a href="https://colab.research.google.com/github/data-en/Data_Science_Masters_2.0/blob/main/Data_Scientist_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Use of Print Statement

In [ ]:
name = "Yashswi Gandhak"
age = 20

In [ ]:
# Simple print() statement
print("My name is ",name, "and My age is ",age)

My name is  Yashswi Gandhak and My age is  20

In [ ]:
# Formatted string
print(f"My name is {name} and My age is {age} ")

My name is Yashswi Gandhak and My age is 20

In [ ]:
# Use of format method
print("My name is {} and My age is {} ".format(name,age))

My name is Yashswi Gandhak and My age is 20

In [ ]:
# Use of format method
print("My name is {my_name} and My age is {my_age} ".format(my_age=age,my_name =name))

My name is Yashswi Gandhak and My age is 20

In [ ]:
age = int(input("Enter your age : "))
if age >= 18 and age <= 45:
  print("You are young blood")

Enter your age : 20
You are young blood

In [ ]:
age = int(input("Enter your age : "))
if age >= 18 and age <= 45:
  print("You are young blood because your age is {}".format(age))
else :
  print("Thanks for your help, we will let you know")

Enter your age : 23
You are young blood because your age is 23

In [ ]:
print("-----------------------------------------")
print("Welcome to billing counter")
print("-----------------------------------------")
price = int(input("Enter the product price : "))
if price > 1000:
  discounted1 = price - (price*(20/100))
  print("Wohoo ! You got 20% discount and the discounted price is {}".format(discounted1))
  print("Congradulations ")
else :
  discounted2 = price - (price*(30/100))
  print("Wohoo! You got 30% discount and the discounted price is {}".format(discounted2))

Enter the product price : 1200
You will get 10% discount and the discounted price is 1080.0

In [ ]:
print("List of product prices range and their discounts : ")
print({'>3000': '30 %\n',
       '>2000 and <=3000': '20 %\n',
       '>1000 and <=2000': '10%\n'})
product_price = int(input("Enter the price of product you chose : "))
if product_price > 3000:
  if product_price == 3999 :
    print("Congratulations! You get a Goa Trip")
  print("Discounted price at 30% of discount is {}".format(product_price*0.7))
elif product_price >2000 and product_price <= 3000:
  if product_price == 2999:
    print("Congratulations! You get an additional surprise gift")
  print("Discounted price at 20 % of discount is {}".format(product_price*0.8))
elif product_price > 1000 and product_price <= 2000:
  print("Discounted price at 10 % of discount is {}".format(product_price*0.9))
else :
  print("Sorry ! Chosen product price is too low , we can not apply any discount on it. Please choose another product from above given range of prices.")

List of product prices range and their discounts :
{'>3000': '30 %\n', '>2000 and <=3000': '20 %\n', '>1000 and <=2000': '10%\n'}
Enter the price of product you chose : 2500
Discounted price at 20 % of discount is 2000.0

# Loops


```
1. While loop
2. For loop
3. Nested loops
```

# While loop

> continuous iteration and the control will throw out of a loop once the condition becomes false, and it goes to the else block if included, otherwise when the condition is true it executes repeatedly.Indented block

In [ ]:
# While loop or While else loop
joining_age = 21
while joining_age <=60:
  joining_age = joining_age + 1
  print(joining_age)
print(f"It's time for retirement because you have reached a limit of {joining_age} as per the government rules")

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
It's time for retirement because you have reached a limit of 61 as per the government rules

In [ ]:
# While loop or While else loop
joining_age = 21
while joining_age == 60:
  joining_age = joining_age + 1
  print(joining_age)
else :
  print(f"It's time for retirement because you have reached a limit of {joining_age} as per the government rules")

It's time for retirement because you have reached a limit of 21 as per the government rules

# Observations :
1. while loop when we use <= or only < or > or >= it iterates till the condition becomes false
2. In while loop when we use == it checks for that particular condition like in
above code it checks for the joining age == 60 or not
3. In while loop we have to increment the value of that particular variable
4. Else loop has also been used if the condition in while loop becomes false

In [ ]:
# ATM Machine with 1000 Rs.
total_amount = 1000
while total_amount != 0:
  print(total_amount)
  total_amount = total_amount - 100
else :
  print("Paisa Bharo Bank Walo")

1000
900
800
700
600
500
400
300
200
100
Paisa Bharo Bank Walo

In [ ]:
value = input("Enter a number to create a math table till 10 : ")
i = 1
while i<= 10 :
  print(value*i)
  i = i+1

Enter a number to create a math table till 10 : 12
12
1212
121212
12121212
1212121212
121212121212
12121212121212
1212121212121212
121212121212121212
12121212121212121212



> This repeated 12 comes because we have taken 'value' input as a string and it prints the value repeatedly and in below example we have taken a user input as integer so it creates a math table from 1 to 10

In [ ]:
value = int(input("Enter a number to create a math table till 10 : "))
i = 1
while i<= 10 :
  print(value*i)
  i = i+1

Enter a number to create a math table till 10 : 12
12
24
36
48
60
72
84
96
108
120

# For loop

In [ ]:
lst = ["Yashswi",10,9.25,9,85,'Topper','University Topper']

In [ ]:
print(lst)

['Yashswi', 10, 9.25, 9, 85, 'Topper', 'University Topper']

In [ ]:
type(lst)

list

In [ ]:
for item in lst :
  print(item)

Yashswi
10
9.25
9
85
Topper
University Topper

In [ ]:
# Indexing
print(lst[0])

Yashswi

In [ ]:
name = "Yashswi"
for each_letter in name :
  print(each_letter,end = " ")

Y a s h s w i

> List and String both are the collection of characters or the elements and we can use indexing there

In [ ]:
# Range Function
for i in range(1,11):
  print(i,end = " ") # Here, end and stop bit and step are optional

1 2 3 4 5 6 7 8 9 10

# Nested loops

In [ ]:
n = 5
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end = "")
  print("\r")

*
**
***
****
*****

In [ ]:
n = 5
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end = "")
  print("\n")
  # New line is occuring because we used here \n

*

**

***

****

*****

In [ ]:
n = 5
k = n-1
for i in range(0,n):
  for j in range(0,k):
    print(" ")
    k = k-1
  for l in range(0,i+1):
    print("*",end = "")
  print('\r')

*
**
***
****
*****